<section class="hero" id="hero">
  <div class="content-wrapper">
    <h1 class="hero-title">Effective Solutions for Your Business</h1>
    <button class="button">Order Service</button>
  </div>

  <!--   Modal   -->

  <div class="backdrop"></div>
  <div class="modal">
    <button type="button" class="close-modal-btn">
      <svg
        width="8"
        height="8"
        viewBox="0 0 8 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="close-mob-menu-icon"
      >
        <path
          d="M8 0.805714L7.19429 0L4 3.19429L0.805714 0L0 0.805714L3.19429 4L0 7.19429L0.805714 8L4 4.80571L7.19429 8L8 7.19429L4.80571 4L8 0.805714Z"
        />
      </svg>
    </button>
    <div class="modal-wrapper">
      <h3 class="modal-title">Leave your contacts and we will call you back</h3>
      <form class="modal-form">
        <div class="div-form">
          <label class="form-label" for="user-name">Name</label>
          <div class="input-svg-wrapper">
            <input
              type="text"
              name="user-name"
              id="user-name"
              class="modal-input"
            />
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="form-input-svg"
            >
              <path
                d="M6 6C7.6575 6 9 4.6575 9 3C9 1.3425 7.6575 0 6 0C4.3425 0 3 1.3425 3 3C3 4.6575 4.3425 6 6 6ZM6 7.5C3.9975 7.5 0 8.505 0 10.5V11.25C0 11.6625 0.3375 12 0.75 12H11.25C11.6625 12 12 11.6625 12 11.25V10.5C12 8.505 8.0025 7.5 6 7.5Z"
              />
            </svg>
          </div>
        </div>
        <div class="div-form">
          <label class="form-label" for="tel">Phone</label>
          <div class="input-svg-wrapper">
            <input type="tel" name="tel" id="tel" class="modal-input" />
            <svg
              width="13"
              height="13"
              viewBox="0 0 13 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="form-input-svg"
            >
              <path
                d="M11.7263 8.86511L9.88811 8.65525C9.44667 8.60459 9.01246 8.75656 8.70128 9.06775L7.36971 10.3993C5.3217 9.35722 3.64276 7.68551 2.60067 5.63025L3.93947 4.29144C4.25065 3.98025 4.40263 3.54605 4.35197 3.1046L4.1421 1.28092C4.05526 0.549999 3.44013 0 2.70198 0H1.45002C0.632259 0 -0.0479991 0.680262 0.00265842 1.49802C0.386208 7.67827 5.32893 12.6138 11.5019 12.9973C12.3197 13.048 12.9999 12.3677 12.9999 11.55V10.298C13.0072 9.56709 12.4572 8.95196 11.7263 8.86511V8.86511Z"
              />
            </svg>
          </div>
        </div>
        <div class="div-form">
          <label class="form-label" for="email">Email</label>
          <div class="input-svg-wrapper">
            <input type="email" name="email" id="email" class="modal-input" />
            <svg
              width="16"
              height="12"
              viewBox="0 0 16 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="form-input-svg"
            >
              <path
                d="M14 0H2C1.175 0 0.5075 0.675 0.5075 1.5L0.5 10.5C0.5 11.325 1.175 12 2 12H14C14.825 12 15.5 11.325 15.5 10.5V1.5C15.5 0.675 14.825 0 14 0ZM13.7 3.1875L8.3975 6.5025C8.1575 6.6525 7.8425 6.6525 7.6025 6.5025L2.3 3.1875C2.1125 3.0675 2 2.865 2 2.6475C2 2.145 2.5475 1.845 2.975 2.1075L8 5.25L13.025 2.1075C13.4525 1.845 14 2.145 14 2.6475C14 2.865 13.8875 3.0675 13.7 3.1875Z"
              />
            </svg>
          </div>
        </div>
        <div class="div-comment">
          <label class="form-label" for="user-comment">Comment</label>
          <textarea
            name="user-comment"
            id="user-comment"
            placeholder="Text input"
            class="modal-textarea"
          ></textarea>
        </div>
        <div class="div-checkbox">
          <input
            type="checkbox"
            name="user-privacy"
            id="user-privacy"
            value="true"
            class="input-privacy visually-hidden"
          />
          <label for="user-privacy" class="accept-input-label">
            <span class="checkbox-default"></span>
            I accept the terms and conditions of the
            <a href="" class="privacy-policy">Privacy Policy</a>
          </label>
        </div>
        <button type="submit" class="send-button">Send</button>
      </form>
    </div>
  </div>
  <div class="thank-modal">
    <button type="button" class="close-thank-btn">
      <svg
        width="8"
        height="8"
        viewBox="0 0 8 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="close-mob-menu-icon"
      >
        <path
          d="M8 0.805714L7.19429 0L4 3.19429L0.805714 0L0 0.805714L3.19429 4L0 7.19429L0.805714 8L4 4.80571L7.19429 8L8 7.19429L4.80571 4L8 0.805714Z"
        />
      </svg>
    </button>
    <h3 class="thank-title">Thank you!</h3>
    <p class="thank-text">We will contact you right away with the best deal.</p>
  </div>
</section>
